/* 
    Typography is the way that text
    is arranged and presented.

*/

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Labrada:ital@1&display=swap');

body {
    padding: 25%;
    font-size: 1.3rem;
}

h1 {
    font-family: 'Courgette', cursive;
}

p {
    text-indent: 2rem;
    text-align: justify;
    line-height: 1.5rem; 
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

/* input, button{
    font-size: inherit;
} */